#maindiv {
    height: 360px;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    /* margin: auto;
    padding: 20%; */
}

#maindiv div{
    height: 60px;
    width: 60px;
}

body{
    background-image: url("IMG_4233.JPG");
    background-color: rgb(252, 233, 241);
    background-repeat: no-repeat;
    /* background-size: 120vw; */
    background-size: cover; 
    
    /* font-family: 'Playball', cursive; */
}

#scoreboard {
    text-align: center;
    position: fixed;
    left: 50px;
    top: 30px;
    width: 250px;
    height: 100px;
    box-shadow: 0 0 20px #47646e;
    border-radius: 90px;
    background-color: rgba(99, 134, 145, 0.8);
    color: white;
    display: none;
    font-size: 22px;
}
